<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/main/BDS41_Day_5_12_08_2023_conditional_statements_print_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# day 5 - dec 08 - friday

In [3]:
student_lst1 = [98,90,87,80,76,70,65,60,54,50,43,40]

for i in student_lst1:
  print("Percentage Achieved ", i)
  if i >= 85:
    print('Pass with First Class Distinction \n')
  elif i >= 60:
    print('Pass with First Class \n')
  elif i >= 40:
    print('Pass with Second Class \n')
  else:
    print('Better luck next time \n')

Percentage Achieved  98
Pass with First Class Distinction

Percentage Achieved  90
Pass with First Class Distinction

Percentage Achieved  87
Pass with First Class Distinction

Percentage Achieved  80
Pass with First Class

Percentage Achieved  76
Pass with First Class

Percentage Achieved  70
Pass with First Class

Percentage Achieved  65
Pass with First Class

Percentage Achieved  60
Pass with First Class

Percentage Achieved  54
Pass with Second Class

Percentage Achieved  50
Pass with Second Class

Percentage Achieved  43
Pass with Second Class

Percentage Achieved  40
Pass with Second Class

In [5]:
student_name = ['harry']
# student_sub = ['Eng', 'Math', 'Science', 'So. Sci', 'PT']
student_marks_1 = [98,87,76,65,54]

for i in student_name:
  sub_tot = 0
  for j in student_marks_1:
     sub_tot += j
  print(i, 'achieved ', sub_tot, 'marks.')

harry achieved  380 marks.

# print patterns (squre and rectangle)

In [7]:
for i in range(5):
  for j in range(5):
    print('*', end=' ')
  print('')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
for i in range(5):
  for j in range(15):
    print('*', end=' ')
  print('')

* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [14]:
temp1 = 5

while temp1 > 0:

  temp2 = 5
  while temp2 > 0:

    print('*', end=' ')
    temp2 -= 1
  temp1 -= 1
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [17]:
temp1 = 5

while temp1 > 0:

  temp2 = 12
  while temp2 > 0:

    print('*', end=' ')
    temp2 -= 1
  temp1 -= 1
  print()

* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *

In [18]:
temp1 = 0

while temp1 < 5:

  temp2 = 0
  while temp2 < 5:

    print('*', end=' ')
    temp2 += 1
  temp1 += 1
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [19]:
temp1 = 0

while temp1 < 5:

  temp2 = 0
  while temp2 < 15:

    print('*', end=' ')
    temp2 += 1
  temp1 += 1
  print()

* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [22]:
for i in range(0, 10, 1):
    for j in range(0, 10, 1):

        print(' [',i, '-', j,'] ', end=' ')

    print()

 [ 0 - 0 ]   [ 0 - 1 ]   [ 0 - 2 ]   [ 0 - 3 ]   [ 0 - 4 ]   [ 0 - 5 ]   [ 0 - 6 ]   [ 0 - 7 ]   [ 0 - 8 ]   [ 0 - 9 ]
 [ 1 - 0 ]   [ 1 - 1 ]   [ 1 - 2 ]   [ 1 - 3 ]   [ 1 - 4 ]   [ 1 - 5 ]   [ 1 - 6 ]   [ 1 - 7 ]   [ 1 - 8 ]   [ 1 - 9 ]
 [ 2 - 0 ]   [ 2 - 1 ]   [ 2 - 2 ]   [ 2 - 3 ]   [ 2 - 4 ]   [ 2 - 5 ]   [ 2 - 6 ]   [ 2 - 7 ]   [ 2 - 8 ]   [ 2 - 9 ]
 [ 3 - 0 ]   [ 3 - 1 ]   [ 3 - 2 ]   [ 3 - 3 ]   [ 3 - 4 ]   [ 3 - 5 ]   [ 3 - 6 ]   [ 3 - 7 ]   [ 3 - 8 ]   [ 3 - 9 ]
 [ 4 - 0 ]   [ 4 - 1 ]   [ 4 - 2 ]   [ 4 - 3 ]   [ 4 - 4 ]   [ 4 - 5 ]   [ 4 - 6 ]   [ 4 - 7 ]   [ 4 - 8 ]   [ 4 - 9 ]
 [ 5 - 0 ]   [ 5 - 1 ]   [ 5 - 2 ]   [ 5 - 3 ]   [ 5 - 4 ]   [ 5 - 5 ]   [ 5 - 6 ]   [ 5 - 7 ]   [ 5 - 8 ]   [ 5 - 9 ]
 [ 6 - 0 ]   [ 6 - 1 ]   [ 6 - 2 ]   [ 6 - 3 ]   [ 6 - 4 ]   [ 6 - 5 ]   [ 6 - 6 ]   [ 6 - 7 ]   [ 6 - 8 ]   [ 6 - 9 ]
 [ 7 - 0 ]   [ 7 - 1 ]   [ 7 - 2 ]   [ 7 - 3 ]   [ 7 - 4 ]   [ 7 - 5 ]   [ 7 - 6 ]   [ 7 - 7 ]   [ 7 - 8 ]   [ 7 - 9 ]
 [ 8 - 0 ]   [ 8 - 1 ]   [ 8 - 2 ]   [ 8 - 3 ]   [ 8 - 4 ]   [ 8 - 5 ]   [ 8 - 6 ]   [ 8 - 7 ]   [ 8 - 8 ]   [ 8 - 9 ]
 [ 9 - 0 ]   [ 9 - 1 ]   [ 9 - 2 ]   [ 9 - 3 ]   [ 9 - 4 ]   [ 9 - 5 ]   [ 9 - 6 ]   [ 9 - 7 ]   [ 9 - 8 ]   [ 9 - 9 ]

# print patterns (trangle and pyramid)

In [23]:
for i in range(10):
  for j in range(i+1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [24]:
temp1 = 10

while temp1 > 0:
  #print(temp1)
  temp2 = 10
  while temp2+1 > temp1:
    #print(temp2)
    print('*', end=' ')
    temp2 -= 1
  temp1 -= 1
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [25]:
for i in range(10): # 0... 9
  for j in range(10-i): # 10... 1
    print('', end=' ')
  for k in range(i+1):
    print('*', end=' ')
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [38]:
student_name = ['Ram', 'shyam', 'Shiv', 'Shankar']
# student_sub = ['Eng', 'Math', 'Science', 'So. Sci', 'PT']
student_marks_1 = [[98,87,76,65,54],
                   [45,54,56,67,78],
                   [78,76,78,79,75],
                   [56,56,67,78,89]
                  ]

for i in student_name:
  sub_tot = 0
  counter = 0
  for j in student_marks_1:
    print(j[counter])
    counter += 1
#     sub_tot += j
#  print(i, 'achieved ', sub_tot, 'marks.')

98
54
78
78
98
54
78
78
98
54
78
78
98
54
78
78