<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/main/BDS41_Day_8_12_013_2023_arguments_in_functions_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *args - accepts any number of parameter and any data type - returns output in form of tuple

*args

In Python, *args is used to pass a variable number of positional arguments to a function. The *args parameter allows a function to accept any number of positional arguments, which are then treated as a tuple within the function.

Here's a basic example:

def my_function(*args):
    for arg in args:
        print(arg)

my_function('Hello', 'World', 'Python')
In this example, *args collects all the positional arguments passed to my_function into a tuple named args. The function then iterates through this tuple and prints each argument.

You can use any name instead of args, but the * before the parameter name is what allows it to accept multiple positional arguments.

It's important to note that *args must be placed as the last positional parameter in the function definition. This is because it collects all remaining positional arguments.

Here's an example where *args is used along with other regular parameters:

def my_function(name, *args):
    print("Name:", name)
    for arg in args:
        print("Additional argument:", arg)

my_function('Alice', 'Hello', 'World', 'Python')
In this case, the first argument (name) is assigned to the parameter name, and the rest of the arguments are collected into the args tuple.

Using *args provides flexibility when you're unsure about the number of arguments that will be passed to a function, allowing you to handle a variable number of arguments without explicitly defining them in the function signature.

In [ ]:
def my_args1(*deepa):
    return deepa

In [ ]:
my_args1(12, -23, 34.45, 12_23j, -32-43j, True, False, 'hello', 'world', [1, 2, 3, 4, 5],
 {6, 7, 8, 9, 10, 11},(12, 13, 14, 15), {'name' : 'deepa', 'department' : 'account'})

(12,
 -23,
 34.45,
 1223j,
 (-32-43j),
 True,
 False,
 'hello',
 'world',
 [1, 2, 3, 4, 5],
 {6, 7, 8, 9, 10, 11},
 (12, 13, 14, 15),
 {'name': 'deepa', 'department': 'account'})

# **kwargs (keyword argument), accepts any number of parameter and any data type, returns output in form of key value pair (dict)

In [ ]:
def my_kwargs1(**deepa):
    return deepa

In [ ]:
my_kwargs1(
    a = 12,
    b = -23,
    c = 34.45,
    d = 12_23j,
    e = -32-43j,
    f = True,
    g = False,
    h = 'hello',
    i = 'world',
    j = [1, 2, 3, 4, 5],
    k = {6, 7, 8, 9, 10, 11},
    l = (12, 13, 14, 15),
    m = {'name' : 'deepa', 'department' : 'account'}
)

{'a': 12,
 'b': -23,
 'c': 34.45,
 'd': 1223j,
 'e': (-32-43j),
 'f': True,
 'g': False,
 'h': 'hello',
 'i': 'world',
 'j': [1, 2, 3, 4, 5],
 'k': {6, 7, 8, 9, 10, 11},
 'l': (12, 13, 14, 15),
 'm': {'name': 'deepa', 'department': 'account'}}

**kwargs also accepts multiple arguments with any data type.

For **kwargs, when we provide input, we should declar variable and assign value - assigned value can be of any data type. so, the output becomes key value pair in form of dictionaty.

# exercise - argument sequence

In [ ]:
def twoInOne(*args, **kwargs):
    print(args, '\n')
    print(kwargs)

In [ ]:
twoInOne(12, -23, 34.45, 12_23j, -32-43j, True, False, 'hello', 'world', [1, 2, 3, 4, 5],
 {6, 7, 8, 9, 10, 11},(12, 13, 14, 15), {'name' : 'deepa', 'department' : 'account'}, a = 'happy', b = 'sad', c = 'mad')

(12, -23, 34.45, 1223j, (-32-43j), True, False, 'hello', 'world', [1, 2, 3, 4, 5], {6, 7, 8, 9, 10, 11}, (12, 13, 14, 15), {'name': 'deepa', 'department': 'account'})

{'a': 'happy', 'b': 'sad', 'c': 'mad'}

In [ ]:
def threeInOne(arg, *args, **kwargs):
    print(arg, '\n')
    print(args, '\n')
    print(kwargs)

In [ ]:
threeInOne('hi')

hi

()

{}

In [ ]:
threeInOne('hi', 12, -23, 34.45, 12_23j)

hi

(12, -23, 34.45, 1223j)

{}

In [ ]:
threeInOne('args sequence', 12, -23, 34.45, 12_23j, -32-43j, True, False, 'hello', 'world', [1, 2, 3, 4, 5],
 {6, 7, 8, 9, 10, 11},(12, 13, 14, 15), {'name' : 'deepa', 'department' : 'account'}, a = 'happy', b = 'sad', c = 'mad')

args sequence

(12, -23, 34.45, 1223j, (-32-43j), True, False, 'hello', 'world', [1, 2, 3, 4, 5], {6, 7, 8, 9, 10, 11}, (12, 13, 14, 15), {'name': 'deepa', 'department': 'account'})

{'a': 'happy', 'b': 'sad', 'c': 'mad'}

In [ ]:
threeInOne(12, -23, 34.45, 12_23j)

12

(-23, 34.45, 1223j)

{}

providing input also should be in a sequence - in order to pass the argument

In [ ]:
threeInOne(a = 'happy', b = 'sad', c = 'mad')

TypeError: ignored

# argument sequence and errors

In [ ]:
def my_new_arg_func(**kiwis, *dates, , banana, cherries):
    return cherries, dates, kiwis, apple, banana,

SyntaxError: ignored

In [ ]:
def my_new_arg_func(apple, *dates, banana, **kiwis, cherries):
    return cherries, dates, kiwis, apple, banana,

SyntaxError: ignored

In [ ]:
def my_new_arg_func1(apple, banana, cherries, *dates, **kiwis):
    return kiwis, apple, banana, cherries, dates

In [ ]:
my_new_arg_func1('day', 'night', 'mid-night',
                12, -23, 34.45, 12_23j, -32-43j, True, False, 'hello', 'world',
                [1, 2, 3, 4, 5], {6, 7, 8, 9, 10, 11},(12, 13, 14, 15),
                {'name' : 'deepa', 'department' : 'account'},
                a = 'happy', b = 'sad', c = 'mad')

({'a': 'happy', 'b': 'sad', 'c': 'mad'},
 'day',
 'night',
 'mid-night',
 (12,
  -23,
  34.45,
  1223j,
  (-32-43j),
  True,
  False,
  'hello',
  'world',
  [1, 2, 3, 4, 5],
  {6, 7, 8, 9, 10, 11},
  (12, 13, 14, 15),
  {'name': 'deepa', 'department': 'account'}))

In [ ]:
dict1 = {'a': 12,
 'b': -23,
 'c': 34.45,
 'd': 1223j,
 'e': (-32-43j),
 'f': True,
 'g': False,
 'h': 'hello',
 'i': 'world',
 'j': [1, 2, 3, 4, 5],
 'k': {6, 7, 8, 9, 10, 11},
 'l': (12, 13, 14, 15),
 'm': {'name': 'deepa', 'department': 'account'}}

print(dict1.keys())
print(dict1.items())

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])
dict_items([('a', 12), ('b', -23), ('c', 34.45), ('d', 1223j), ('e', (-32-43j)), ('f', True), ('g', False), ('h', 'hello'), ('i', 'world'), ('j', [1, 2, 3, 4, 5]), ('k', {6, 7, 8, 9, 10, 11}), ('l', (12, 13, 14, 15)), ('m', {'name': 'deepa', 'department': 'account'})])

# Lambda Functions (one liner functions)

In [ ]:
x = lambda a : a + 10
print(x(25))

35

In [ ]:
x = lambda a:a - 5
print(x(100))

95

In [ ]:
x = lambda a, b : a * b
print(x(10, 23))

230

In [ ]:
x = lambda a, b : a / b
print(x(100, 25))

4.0

python- lambda function follow BODMAS rule

In [ ]:
x = lambda a, b, c : a + b - c
print(x(12,24,36))

0

In [ ]:
x = lambda a, b, c, d : a + b - c * d
print(x(12,24,36,48))
print(x(9, 8, 7, 6))

-1692
-25

In [ ]:
x = lambda a, b, c, d : a + b - c * d
print(x(50,24,36,48))

-1654

In [ ]:
x = lambda a, b, c, d : ((a + b)*a) - ((c * d ) + b)
print(x(50,24,36,48))
print(x(10, 10, 10, 10))

1948
90