<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/main/BDS41_Day_9_12_014_2023_revision_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
import pdb

for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('')

pdb.set_trace()

# New Section

In [ ]:
import matplotlib.pyplot as plt

for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('')

plt.plot(data)
plt.show()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

# New Section

In [ ]:
%debug

for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('')

# Range

In [ ]:
for i in range(0):
    print(i)

In [ ]:
for i in range(10): # length/starting point
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10, 20): # length/starting point, ending point, , gap/ jump of value = 1 by default
    print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(10, 20, 2): # length/starting point, ending point, gap/ jump of value
    print(i)

10
12
14
16
18

In [ ]:
for i in range(20, 0, -2): # length/starting point, ending point, gap/ jump of value
    print(i)

20
18
16
14
12
10
8
6
4
2

# for loop

In [ ]:
lst1 = [1, 2.5, 3.99, 12+23j]
for i in lst1:
    print(i)

1
2.5
3.99
(12+23j)

In [ ]:
dict1 = {'a': 1, 'b':  2.5, 'c':  3.99, 'd':  12+23j}
for i in dict1 :
    print(i)

a
b
c
d

In [ ]:
dict1 = {'a': 1, 'b':  2.5, 'c':  3.99, 'd':  12+23j}
for i in dict1.values() :
    print(i)

1
2.5
3.99
(12+23j)

In [ ]:
dict1 = {'a': 1, 'b':  2.5, 'c':  3.99, 'd':  12+23j}
for i in dict1.items() :
    print(i)

('a', 1)
('b', 2.5)
('c', 3.99)
('d', (12+23j))

In [ ]:
for i in range(0, 10): # i = 0 at starting then i++
    for j in range(11, 20): # j = 0 at starting then j++
        print(i + j)
    print()

In [ ]:
for i in range(0, 10): # i = 0 at starting then i++
    for j in range(11, 20): # j = 0 at starting then j++
        print(i + j, end = ' ')
    print()

11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21
14 15 16 17 18 19 20 21 22
15 16 17 18 19 20 21 22 23
16 17 18 19 20 21 22 23 24
17 18 19 20 21 22 23 24 25
18 19 20 21 22 23 24 25 26
19 20 21 22 23 24 25 26 27
20 21 22 23 24 25 26 27 28

# print patterns usuing for loop

In [ ]:
# pattern = squre and rectagle

for i in range(5):
    for j in range(5):
        print('*')

print('\n')

for i in range(5):
    for j in range(5):
        print('*', end = ' ')

print('\n', '\n')

for i in range(5):      # number of row
    for j in range(5):  # number of column
        print('*', end = ' ')
    print() # after each time 2nd loop completes an iteration, print() changes line

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*


* * * * * * * * * * * * * * * * * * * * * * * * *


* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# pattern = rectagle

for i in range(5):      # number of row
    for j in range(12):  # number of column
        print('*', end = ' ')
    print() # after each time 2nd loop completes an iteration, print() changes line

* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *

In [ ]:
# pattern = Triangle

for i in range(10):
    for i in range(10, 0, -1):
        print('', end = '')
    for k in range(1, 11, 1):
        print('*', end = '')
    print()

print('\n')

for i in range(10):             # 1, 2, 3 ... 9
    for j in range(10, i, -1):  # 10, 9, 8 .....1
        print('', end = ' ')
    for k in range(0, i+1, 1):   # 1, 2, 3 .... 10
        print('*', end = ' ')
    print()

print('\n')

for i in range(10):             # 1, 2, 3 ... 9
    for k in range(0, i+1, 1):   # 1, 2, 3 .... 10
        print('*', end = ' ')
    print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********


          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *


*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10, 0, -1):
    for j in range(10, i, -1):
        print('', end = ' ')
    for k in range(1, i+1, 1):
        print('*', end = ' ')
    print()

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
for i in range(10, 0, -1):
    for k in range(1, i+1, 1):
        print('*', end = ' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Whille loop

In [ ]:
a = 150

while a > 100: # true
    print('value of a - ', a)
    a -= 10                     # reduce value by 10

value of a -  150
value of a -  140
value of a -  130
value of a -  120
value of a -  110

In [ ]:
a = 150

while a > 100: # true
    print('value of a - ', a)

    b = 10
    while b < 100:  # true
        print('value of b - ', b)
        b += 30
    a -= 10
    print()

    # for each value of a = b is printing whole iteration

value of a -  150
value of b -  10
value of b -  40
value of b -  70

value of a -  140
value of b -  10
value of b -  40
value of b -  70

value of a -  130
value of b -  10
value of b -  40
value of b -  70

value of a -  120
value of b -  10
value of b -  40
value of b -  70

value of a -  110
value of b -  10
value of b -  40
value of b -  70