<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/main/BDS41_Day_6_12_011_2023_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Monday Dec 11, 2023

# **Python Function**

1. Build in Functions (pre-defined)
2. User Define Functions
3. Lamda Functions

https://docs.python.org/3/library/functions.html

# Print function - print()

In [ ]:
print('Welcome, today we are going to learn python functions')

Welcome, today we are going to learn python functions

In [ ]:
print(*object, sep=' ', end='\n', file=None, flush=False)

In [ ]:
print(*object, sep = ' ', end = ' ', file = None, flush = False)

print(*object, sep = ' ', end = ' ', file = None, flush = False)

# Input function - input()

In [ ]:
a = input('Please enter your name - ')
print(a)

Please enter your name - Deepa lama
Deepa lama

In [ ]:
a = input('marks in english - ')
b = input('marks in math - ')
c = input('marks in science - ')
d = input('marks in Account - ')
e = input('marks in arts - ')
f = input('marks in computer - ')

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  111111

# **Input will take input data as string by default, in order to change the data type as required we use type casting functions.**

In [ ]:
a = int(input('marks in english - '))
b = int(input('marks in math - '))
c = int(input('marks in science - '))
d = int(input('marks in Account - '))
e = int(input('marks in arts - '))
f = int(input('marks in computer - '))

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  6

# Type casting functions

Python Type Casting Functions

1. int
2. float
3. complex
4. boolean
5. string
6. list
7. tuple
8. set
9. dictionary

# typecast to int - int()

In [ ]:
a = int(input('marks in english - '))
b = int(input('marks in math - '))
c = int(input('marks in science - '))
d = int(input('marks in Account - '))
e = int(input('marks in arts - '))
f = int(input('marks in computer - '))

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  6

# typecast to float - float()

In [ ]:
a = float(input('marks in english - '))
b = float(input('marks in math - '))
c = float(input('marks in science - '))
d = float(input('marks in Account - '))
e = float(input('marks in arts - '))
f = float(input('marks in computer - '))

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1.5
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  6.5

# typecast to complex - complex()

In [ ]:
a = complex(input('input 1 - '))
b = complex(input('input 2 - '))
c = complex(input('input 3 - '))

print('\n', 'sum of all marks = ', a + b + c )

input 1 - 12+23j
input 2 - -23-34j
input 3 - 34_34j

 sum of all marks =  (-11+3423j)

# typecast to List - list()

In [ ]:
str1 = 'convert string to list'

print(list(str1))

['c', 'o', 'n', 'v', 'e', 'r', 't', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']

# typecast to Tuple - tuple()

In [ ]:
str1 = 'convert string to tuple'

print(tuple(str1))

('c', 'o', 'n', 'v', 'e', 'r', 't', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 't', 'u', 'p', 'l', 'e')

# typecast to Set - set()

In [ ]:
str1 = 'convert string to set'

print(set(str1))

{'t', 'i', 'n', 'r', ' ', 'c', 's', 'v', 'o', 'g', 'e'}

# typecast to Dictionary - dictionary()

In [ ]:
# list of tuples to dictionary

lst1 = [(1, 'a'), (2, 'b')]

print(dict(lst1))

{1: 'a', 2: 'b'}

In [ ]:
# list of lists to dictionary

lst2 = [[1, 'a'], [2, 'b']]

print(dict(lst2))

{1: 'a', 2: 'b'}

In [ ]:
# tuple of tuples to dictionary

tup1 = (('zone1', 'north'), ('zone2', 'south'), ('zone3', 'east'), ('zone4', 'west'))

print(dict(tup1))

{'zone1': 'north', 'zone2': 'south', 'zone3': 'east', 'zone4': 'west'}

In [ ]:
# tuple of list to dictionary

tup2 = (['zone1', 'north'], ['zone2', 'south'], ['zone3', 'east'], ['zone4', 'west'])

print(dict(tup2))

{'zone1': 'north', 'zone2': 'south', 'zone3': 'east', 'zone4': 'west'}

In [ ]:
# set of list to dictionary - TypeError: unhashable type: 'list'

set1 = {[1, 'a'], [2, 'b']}

print(dict(set1))

In [ ]:
# set of tuple to dictionary

set2 = {(1, 'a'), (2, 'b')}

print(dict(set2))

{2: 'b', 1: 'a'}

# Number formats

Decimal:  1
Binary:  0b1
Octa Decimal:  0o1
Hexa Decimal:  0x1

In [ ]:
for i in range(0, 100, 1):
    print('Decimal: ', i)
    print('Binary: ', bin(i))
    print('Octa Decimal: ', oct(i))
    print('Hexa Decimal: ', hex(i), '\n')

In [ ]:
for i in range(0, 100, 1):
    print('Binary: ', bin(i))

In [ ]:
for i in range(0, 100, 1):
    print('Octa Decimal: ', oct(i))

In [ ]:
for i in range(0, 100, 1):
    print('Hexa Decimal: ', hex(i))

# Help function - help()

In [ ]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
help(eval)

Help on built-in function eval in module builtins:

eval(source, globals=None, locals=None, /)
    Evaluate the given source in the context of globals and locals.

    The source may be a string representing a Python expression
    or a code object as returned by compile().
    The globals must be a dictionary and locals can be any mapping,
    defaulting to the current globals and locals.
    If only globals is given, locals defaults to it.

In [6]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [ ]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [5]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [4]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [2]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [1]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# iter()

In [ ]:
lst1 = ['apple','banana','cherries','durian','grapes']

x = iter(lst1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
durian
grapes

In [ ]:
tup1 = ('apple','banana','cherries','durian','grapes')

x = iter(tup1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
durian
grapes

In [ ]:
set1 = {'apple','banana','cherries','durian','grapes'}

x = iter(set1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

banana
apple
grapes
durian
cherries

In [ ]:
set2 = {'apple','banana','cherries','durian','grapes', 'apple','banana','cherries'}

x = iter(set2)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

StopIteration:

banana
apple
grapes
durian
cherries

In [ ]:
dict1 = {}

x = iter(dict1)

# length - len()

In [ ]:
str1 = 'Welcome to python programming webinar'

len(str1)

37

# Some more functions

In [ ]:
min(lst1)

'apple'

In [ ]:
max(lst1)

'grapes'

In [ ]:
flt1 = 3.49
round(flt1)

3

In [ ]:
flt1 = 3.50
round(flt1)

4

In [ ]:
flt1 = 3.51
round(flt1)

4

In [ ]:
lst1 = [1, 1.49, 1.50, 1.35, 1.99, 1.77]

lst1.sort()
print(lst1)

[1, 1.35, 1.49, 1.5, 1.77, 1.99]

In [ ]:
sorted(lst1)

[1, 1.35, 1.49, 1.5, 1.77, 1.99]

# find ascii value - ascii()

In [ ]:
for i in range(0, 100, 1):
    print('Ascii value: ', ascii(i))