<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/main/BDS41_Day_4_12_07_2023_conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Controlling Program flow with control statements

# IF

In [ ]:
a = 10
b = 20

if a < b: # True
  print('a is less than b')

if a > b: # false ( will not print)
  print('a is greater than b' )

a is less than b

In [ ]:
a = 10
b = 20
c = 30

if (a < b) and (b < c):
  print("a is smaller than b and c")

if (a < b) or (b < c):
  print("a is less than b or c")

a is smaller than b and c
a is less than b or c

In [ ]:
a = 10
b = 20
c = 30

if (a < b) or (b < c) and (a < c):
  print("Condition is True")

Condition is True

In [ ]:
a = 10
b = 20
c = 30

if ((a < b) and (b > c)) or(a < c):
  print("Condition is True")

# IF else

In [ ]:
a = 35
b = 20

if a < b: # True
  print('a is less than b')
else : # False
  print('a is greater than b')

x = 30
y = 5

if x < y: # False
  print('x is less than y')
else : # True
  print('x is greater than y')

a is greater than b
x is greater than y

In [ ]:
a = 40
b = 30
c = 20

if (a < b) and (b < c):
  print("a is smaller than b and c")
else :
  print("a is greater than b and c")

if (a < b) or (b < c):
  print("a is less than b or c")
else:
  print("a is greater than b or c")

a is greater than b and c
a is greater than b or c

In [ ]:
a = 40
b = 20
c = 30

if (a < b) or (b < c) and (a < c):
  print("Condition is True")
else:
  print("Condition is False")

Condition is False

In [ ]:
a = 10
b = 20
c = 30

if ((a < b) and (b > c)) and (a < c):
  print("Condition is True")
else:
  print("Condition is False")

Condition is False

# elif

In [ ]:
a = 10
b = 20
c = 30

if a > b:
  print('a is greater than b')
elif b > c:
  print('b is greater than c')
elif a > c:
  print('a is greater than c')
else:
  print('a is the smallest in the group')

a is the smallest in the group

In [ ]:
a = 30
b = 30
c = 30

if (a < b) and (a < c):
  print("a is the greatest in the group")

elif (a > b) and (a < c):
  print("a is greater than b but smaller than c")

elif (a < b) and (a > c):
  print("a is smaller than b but greater tha c")

else:
  print("a, b and c are equal")

a, b and c are equal

# Nested if

In [ ]:
a = 10
b = 100

if a < 20:
  print('a is less than 20')
  if a < 90:
    print('a is less than 90')
    if a == 10:
      print('value of a = 10')

a is less than 20
a is less than 90
value of a = 10

In [ ]:
a = 10
b = 100

if a < b:
  print('a is less than b')
  if a < 90:
    print('a is less than 90')
    if a < 60:
     print('a is less than 60')
     if a < 30:
      print('a is less than 30')
      if a < 15:
       print('a is less than 15')
       if a > -1:
        print('a is gerater than -1')
        if a > 7:
          print('a is greater than 7')
          if a > 8:
            print('a is greater than 8')
            if a > 9:
              print('a is greater than 9')
              if a > 10:
                print('a is greater than 10')
              elif a == 10:
                print('value of a = 10')

a is less than b
a is less than 90
a is less than 60
a is less than 30
a is less than 15
a is gerater than -1
a is greater than 7
a is greater than 8
a is greater than 9
value of a = 10

# Loops - For

In [ ]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,10, 1):
  a += i
  print(a)

print()

print(a)

50019895
50019896
50019898
50019901
50019905
50019910
50019916
50019923
50019931
50019940

50019940

In [ ]:
for i in range(0,10000, 1):
  a += i
print(a)

50019760

# Loops - While

In [ ]:
i = 0

while i < 10:
  i += 1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0

while i < 10:
  i += 1
print(i)

10

In [ ]:
x = 1
y = 0

while x < 10:
  print(x)
  x += 1
  y += x
  print(x)
  print(y)
  print()

1
2
2

2
3
5

3
4
9

4
5
14

5
6
20

6
7
27

7
8
35

8
9
44

9
10
54

In [ ]:
x = 1
y = 0

while x < 10:
  # print(x)
  x += 1
  y += x

print(x)
print(y)
print()

10
54

In [ ]:
e = 1
f = 0

while e < 10:
  print('value of e before loop - ',e ,' = ', e)
  e += 1
  f += e
  print('value of e after loop = ', e)
  print(f)
  print()

value of e before loop -  1  =  1
value of e after loop =  2
2

value of e before loop -  2  =  2
value of e after loop =  3
5

value of e before loop -  3  =  3
value of e after loop =  4
9

value of e before loop -  4  =  4
value of e after loop =  5
14

value of e before loop -  5  =  5
value of e after loop =  6
20

value of e before loop -  6  =  6
value of e after loop =  7
27

value of e before loop -  7  =  7
value of e after loop =  8
35

value of e before loop -  8  =  8
value of e after loop =  9
44

value of e before loop -  9  =  9
value of e after loop =  10
54

# Class assignmet

In [ ]:
c = 1

if c <= 10: # True
  for c in range(11):
    print(c)
  else:
    print('c is greater than 10')

print(c)

0
1
2
3
4
5
6
7
8
9
10
c is greater than 10
10

In [ ]:
d = 1
for d in range(0,15):
  if d <= 10:
    print(d)
  else:
    break

print('d is greater than 10')

0
1
2
3
4
5
6
7
8
9
10
d is greater than 10

In [ ]:
i = 1
a = 0

for i in range(10):
  a += i
  i += 1
else:
  print('We are out of loop now')

print('value of i is ',i)
print('value of a is ',a)

We are out of loop now
value of i is  10
value of a is  45

In [ ]:
i = 1
a = 0

while i < 10:
  a += i
  i += 1
else:
  print('We are out of loop now')

print('value of i is ',i)
print('value of a is ',a)

We are out of loop now
value of i is  10
value of a is  45