<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/main/BDS41_Day_2_12_05_2023_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2 - 12/05/2023

Python Data Type
Built-In Functions
Slicing & Indexing
Positive & Negative

In [ ]:
name = 'Adam'
print(name)
print(type(name))

Adam
<class 'str'>

1. Standard Data Type
  1. Number
    1. Integer
    2. Float
    3. Complex
  2. Boolean
  3. String

2. Data Structure Data Type
  1. List
  2. Tuple
  3. Set
  4. Dictionary

In [ ]:
# Python is case sensetive
# Variables = value (Data Types)
mobile = 3336669999
variable1 = 99.99
variable2 = 12 + 19j # in python it has to be j
visa = True
visa1 = False
# Print Statement + type method/function
print(mobile, type(mobile))
print(variable1, type(variable1))
print(variable2, type(variable2))
print(visa, type(visa))
print(visa1, type(visa))

# Built-in Functions of Python List Data Type

In [ ]:
# List
lst1 = ['apple','banaba','cherries','dates']
print(lst1,type(lst1))

# Tuples - imutable
tup1 = ('sugar', 'tea', 'coffee', 'bread')
print(tup1, type(tup1))

# Set
set1 = {1, 2 , 3, 4, 'a', 'b', 'c', 'd', 11.22, 22.33, 33.44, 44.55, True, False}
print(set1, type(set1))

# Dictionaries
dist1 = {1:'apple', 2:'banana', 3:'cheries', 4:'dates'}
print(dist1,type(dist1))

lst2 = ['apple', 'banana', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon']
print(lst2)

lst2.append('mango')
print(lst2)

lst2.insert(2, 'apricot')
print(lst2)

lst3 = lst2.copy()
print(lst3)

lst2.extend('dragon fruit')
print(lst2)

# index starts from 0 (n-1)
print(lst2.index('apple'))
print(lst2.index('dates'))
print(lst2.index('mango'))
print(lst2.index('t'))

# lst2.index('apple', 0, 8)
# lst2.index('apple', 3, 8)

# remove value (default = last item)
lst2.pop()
print(lst2)

lst2.pop(15)
print(lst2)

lst2.sort()
print(lst2)

lst2.reverse()
print(lst2)

countLst2 = lst2.count('r')
print(countLst2)

# lst2.clear()

print(lst2[4])

P1 = lst2[0:5:6]
print(P1)

print(lst2[4:0:7])

lst2[::]
print(lst2)

lst2[::-1]
print(lst2)

3336669999 <class 'int'>
99.99 <class 'float'>
(12+19j) <class 'complex'>
True <class 'bool'>
False <class 'bool'>
['apple', 'banaba', 'cherries', 'dates'] <class 'list'>
('sugar', 'tea', 'coffee', 'bread') <class 'tuple'>
{False, 1, 2, 3, 4, 'b', 33.44, 'c', 11.22, 44.55, 22.33, 'a', 'd'} <class 'set'>
{1: 'apple', 2: 'banana', 3: 'cheries', 4: 'dates'} <class 'dict'>
['apple', 'banana', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon']
['apple', 'banana', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon', 'mango']
['apple', 'banana', 'apricot', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon', 'mango']
['apple', 'banana', 'apricot', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon', 'mango']
['apple', 'banana', 'apricot', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon', 'mango', 'd', 'r', 'a', 'g', 'o', 'n', ' ', 'f', 'r', 'u', 'i', 't']
0
4
9
21
['apple', 'banana', 'apricot', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon', 'mango', 'd', 'r', 'a', 'g', 'o', 'n', ' ', 'f', 'r', 'u', 'i']
['apple', 'banana', 'apricot', 'cherrirs', 'dates', 'eggplant', 'fig', 'grapes', 'honey mellon', 'mango', 'd', 'r', 'a', 'g', 'o', ' ', 'f', 'r', 'u', 'i']
[' ', 'a', 'apple', 'apricot', 'banana', 'cherrirs', 'd', 'dates', 'eggplant', 'f', 'fig', 'g', 'grapes', 'honey mellon', 'i', 'mango', 'o', 'r', 'r', 'u']
['u', 'r', 'r', 'o', 'mango', 'i', 'honey mellon', 'grapes', 'g', 'fig', 'f', 'eggplant', 'dates', 'd', 'cherrirs', 'banana', 'apricot', 'apple', 'a', ' ']
2
mango
['u']
[]
['u', 'r', 'r', 'o', 'mango', 'i', 'honey mellon', 'grapes', 'g', 'fig', 'f', 'eggplant', 'dates', 'd', 'cherrirs', 'banana', 'apricot', 'apple', 'a', ' ']
['u', 'r', 'r', 'o', 'mango', 'i', 'honey mellon', 'grapes', 'g', 'fig', 'f', 'eggplant', 'dates', 'd', 'cherrirs', 'banana', 'apricot', 'apple', 'a', ' ']

# Day 2 - 12/05/2023 assignment - list

In [ ]:
# Day 2 - 12/05/2023 assignment

# List

list11 = ['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

print(type(list11))
print('length of list = ', len(list11))
print(list11)

<class 'list'>
length of list =  12
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

In [ ]:
print('after append')
list11.append('volvo')
print(list11)

after append
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo', 'volvo']

In [ ]:
print('Index values' )
print(list11.index('Audi'))
print(list11.index('BMW'))
print(list11.index('Chevy'))
print(list11.index('Ford'))
print(list11.index('Hyundai'))
print(list11.index('Kia'))
print(list11.index('Toyota'))
print(list11.index('Lexus'))
print(list11.index('Honda'))
print(list11.index('Nissan'))
print(list11.index('Jeep'))
print(list11.index('volvo'))
print(list11.index('volvo'))

Index values
0
1
2
3
4
5
6
7
8
9
10
11
11

In [ ]:
list11 = ['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

print('Count function' )
print('there are ', list11.count('volvo'), 'volvo in list11')

Count function
there are  1 volvo in list11

In [ ]:
print('Copy function' )
list12 = list11.copy()
print(list11)
print('This is copied list ', list12)

Copy function
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']
This is copied list  ['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

In [ ]:
print('Insert function')
list11.insert(5, 'Tesla')
print(list11)

Insert function
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Tesla', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

In [ ]:
print('Extend function' )
list11.extend('Kia')
print(list11)
print()

list11.extend(list12)
print(list11)

Extend function
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Tesla', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo', 'K', 'i', 'a']

['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Tesla', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo', 'K', 'i', 'a', 'Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

In [ ]:
print('Pop function')
list11.pop()
print(list11)
print()

list11.pop(2)
print(list11)

Pop function
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Tesla', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo', 'K', 'i', 'a', 'Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep']

['Audi', 'BMW', 'Ford', 'Hyundai', 'Tesla', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo', 'K', 'i', 'a', 'Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep']

In [ ]:
print('Remove function')
list11.remove('K')
list11.remove('i')
list11.remove('a')
print(list11)

Remove function
['Audi', 'BMW', 'Ford', 'Hyundai', 'Tesla', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo', 'Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep']

In [ ]:
print('Sort function')
list11.sort()
print(list11)
print()

list11.sort(reverse=True)
print(list11)
print()

list11.sort(reverse=False)
print(list11)

Sort function
['Audi', 'Audi', 'BMW', 'BMW', 'Chevy', 'Ford', 'Ford', 'Honda', 'Honda', 'Hyundai', 'Hyundai', 'Jeep', 'Jeep', 'Kia', 'Kia', 'Lexus', 'Lexus', 'Nissan', 'Nissan', 'Tesla', 'Toyota', 'Toyota', 'volvo']

['volvo', 'Toyota', 'Toyota', 'Tesla', 'Nissan', 'Nissan', 'Lexus', 'Lexus', 'Kia', 'Kia', 'Jeep', 'Jeep', 'Hyundai', 'Hyundai', 'Honda', 'Honda', 'Ford', 'Ford', 'Chevy', 'BMW', 'BMW', 'Audi', 'Audi']

['Audi', 'Audi', 'BMW', 'BMW', 'Chevy', 'Ford', 'Ford', 'Honda', 'Honda', 'Hyundai', 'Hyundai', 'Jeep', 'Jeep', 'Kia', 'Kia', 'Lexus', 'Lexus', 'Nissan', 'Nissan', 'Tesla', 'Toyota', 'Toyota', 'volvo']

In [ ]:
print('Reverse function')
list11.reverse()
print(list11)
print(list12)

Reverse function
['volvo', 'Toyota', 'Toyota', 'Tesla', 'Nissan', 'Nissan', 'Lexus', 'Lexus', 'Kia', 'Kia', 'Jeep', 'Jeep', 'Hyundai', 'Hyundai', 'Honda', 'Honda', 'Ford', 'Ford', 'Chevy', 'BMW', 'BMW', 'Audi', 'Audi']
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

In [ ]:
print('Clear function')
list11.clear()
print(list11)
print(list12)

Clear function
[]
['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

In [ ]:
list11 = ['Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep', 'volvo']

print('Delete function')
del list11

print(list11)

# Day 2 - 12/05/2023 assignment - Tuples

In [ ]:
# Tuples

tuples11 = ('Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep')

print(type(tuples11))
print('length of list = ', len(tuples11))
print(tuples11)
print()

print(tuples11[0])
print(tuples11[1])
print(tuples11[5])
print(tuples11[10])
print(tuples11[-3])
print()

print(tuples11[2:7])
print(tuples11[:5])
print(tuples11[7:])

<class 'tuple'>
length of list =  11
('Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep')

Audi
BMW
Kia
Jeep
Honda

('Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota')
('Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai')
('Lexus', 'Honda', 'Nissan', 'Jeep')

In [ ]:
print(tuples11.count('Chevy'))
print(tuples11.count('Kia'))
print(tuples11.count('Jeep'))

1
1
1

In [ ]:
print(tuples11.index('Audi'))
print(tuples11.index('Jeep'))
print(tuples11.index('Kia'))
print(tuples11.index('Nissan'))
print(tuples11.index('Chevy'))

0
10
5
9
2

In [ ]:
tuples11.add()

# Day 2 - 12/05/2023 assignment - set

In [4]:
# Set

set11 = {'Audi', 'BMW', 'Chevy', 'Ford', 'Hyundai', 'Kia', 'Toyota', 'Lexus', 'Honda', 'Nissan', 'Jeep'}

set11.add('GM')

print(set11)

{'Hyundai', 'Chevy', 'Jeep', 'Lexus', 'Honda', 'Nissan', 'GM', 'Kia', 'Audi', 'BMW', 'Toyota', 'Ford'}

In [5]:
set12 = set11.copy()

print(set11)
print(set12)

{'Hyundai', 'Chevy', 'Jeep', 'Lexus', 'Honda', 'Nissan', 'GM', 'Kia', 'Audi', 'BMW', 'Toyota', 'Ford'}
{'Hyundai', 'Chevy', 'Jeep', 'Lexus', 'Honda', 'Nissan', 'GM', 'Kia', 'Audi', 'BMW', 'Toyota', 'Ford'}

In [10]:
set12.pop()

print(set12)

{'Lexus', 'Honda', 'Nissan', 'GM', 'Kia', 'Audi', 'BMW', 'Toyota', 'Ford'}

In [11]:
set13 = set11.difference(set12)

print(set13)

{'Jeep'}

In [20]:
set11.clear()

print(set11)

set()

# Day 2 - 12/05/2023 assignment - dictionaries

In [22]:
# Dictionaries

dict11 = {
    "name" : "Sam Walton",
    "age" : "39",
    "phone no." : 3336669999,
    "email" : "sam.walton@gmail.com"
}

dict12 = dict11.copy()
print(dict11)
print(dict12)

{'name': 'Sam Walton', 'age': '39', 'phone no.': 3336669999, 'email': 'sam.walton@gmail.com'}
{'name': 'Sam Walton', 'age': '39', 'phone no.': 3336669999, 'email': 'sam.walton@gmail.com'}

In [24]:
dict11 = {
    "name" : "Sam Walton",
    "age" : "39",
    "phone no." : 3336669999,
    "email" : "sam.walton@gmail.com"
}

removed_value = dict11.pop("age")

print(dict11)
print(removed_value)

{'name': 'Sam Walton', 'phone no.': 3336669999, 'email': 'sam.walton@gmail.com'}
39

In [26]:
dict11.clear()

print(dict11)

{}

# Day 2 - 12/05/2023 assignment - String

In [28]:
string1 = 'Hello World! welcome to python bootcamp.'

print(string1)

Hello World! welcome to python bootcamp.