<a href="https://colab.research.google.com/github/deepalama/TakeoBDS41/blob/pythonBasic/Monday_Dec_11%2C_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Monday Dec 11, 2023

# **Python Function**

1. Build in Functions (pre-defined)
2. User Define Functions
3. Lamda Functions

https://docs.python.org/3/library/functions.html

# Print function - print()

In [1]:
print('Welcome, today we are going to learn python functions')

Welcome, today we are going to learn python functions

In [ ]:
print(*object, sep=' ', end='\n', file=None, flush=False)

In [ ]:
print(*object, sep = ' ', end = ' ', file = None, flush = False)

print(*object, sep = ' ', end = ' ', file = None, flush = False)

# Input function - input()

In [5]:
a = input('Please enter your name - ')
print(a)

Please enter your name - Deepa lama
Deepa lama

In [10]:
a = input('marks in english - ')
b = input('marks in math - ')
c = input('marks in science - ')
d = input('marks in Account - ')
e = input('marks in arts - ')
f = input('marks in computer - ')

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  111111

# **Input will take input data as string by default, in order to change the data type as required we use type casting functions.**

In [11]:
a = int(input('marks in english - '))
b = int(input('marks in math - '))
c = int(input('marks in science - '))
d = int(input('marks in Account - '))
e = int(input('marks in arts - '))
f = int(input('marks in computer - '))

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  6

# Type casting functions

Python Type Casting Functions

1. int
2. float
3. complex
4. boolean
5. string
6. list
7. tuple
8. set
9. dictionary

# typecast to int - int()

In [14]:
a = int(input('marks in english - '))
b = int(input('marks in math - '))
c = int(input('marks in science - '))
d = int(input('marks in Account - '))
e = int(input('marks in arts - '))
f = int(input('marks in computer - '))

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  6

# typecast to float - float()

In [13]:
a = float(input('marks in english - '))
b = float(input('marks in math - '))
c = float(input('marks in science - '))
d = float(input('marks in Account - '))
e = float(input('marks in arts - '))
f = float(input('marks in computer - '))

print('\n', 'sum of all marks = ', a + b + c + d + e + f)

marks in english - 1.5
marks in math - 1
marks in science - 1
marks in Account - 1
marks in arts - 1
marks in computer - 1

 sum of all marks =  6.5

# typecast to complex - complex()

In [16]:
a = complex(input('input 1 - '))
b = complex(input('input 2 - '))
c = complex(input('input 3 - '))

print('\n', 'sum of all marks = ', a + b + c )

input 1 - 12+23j
input 2 - -23-34j
input 3 - 34_34j

 sum of all marks =  (-11+3423j)

# typecast to boolean - boolean()

# typecast to String - string()

# typecast to List - list()

In [24]:
str1 = 'convert string to list'

print(list(str1))

['c', 'o', 'n', 'v', 'e', 'r', 't', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']

# typecast to Tuple - tuple()

In [26]:
str1 = 'convert string to tuple'

print(tuple(str1))

('c', 'o', 'n', 'v', 'e', 'r', 't', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 't', 'u', 'p', 'l', 'e')

# typecast to Set - set()

In [27]:
str1 = 'convert string to set'

print(set(str1))

{'t', 'i', 'n', 'r', ' ', 'c', 's', 'v', 'o', 'g', 'e'}

# typecast to Dictionary - dictionary()

In [30]:
# list of tuples to dictionary

lst1 = [(1, 'a'), (2, 'b')]

print(dict(lst1))

{1: 'a', 2: 'b'}

In [32]:
# list of lists to dictionary

lst2 = [[1, 'a'], [2, 'b']]

print(dict(lst2))

{1: 'a', 2: 'b'}

In [31]:
# tuple of tuples to dictionary

tup1 = (('zone1', 'north'), ('zone2', 'south'), ('zone3', 'east'), ('zone4', 'west'))

print(dict(tup1))

{'zone1': 'north', 'zone2': 'south', 'zone3': 'east', 'zone4': 'west'}

In [33]:
# tuple of list to dictionary

tup2 = (['zone1', 'north'], ['zone2', 'south'], ['zone3', 'east'], ['zone4', 'west'])

print(dict(tup2))

{'zone1': 'north', 'zone2': 'south', 'zone3': 'east', 'zone4': 'west'}

In [ ]:
# set of list to dictionary - TypeError: unhashable type: 'list'

set1 = {[1, 'a'], [2, 'b']}

print(dict(set1))

In [36]:
# set of tuple to dictionary

set2 = {(1, 'a'), (2, 'b')}

print(dict(set2))

{2: 'b', 1: 'a'}

# Number formats

Decimal:  1
Binary:  0b1
Octa Decimal:  0o1
Hexa Decimal:  0x1

In [ ]:
for i in range(0, 100, 1):
    print('Decimal: ', i)
    print('Binary: ', bin(i))
    print('Octa Decimal: ', oct(i))
    print('Hexa Decimal: ', hex(i), '\n')

In [ ]:
for i in range(0, 100, 1):
    print('Binary: ', bin(i))

In [ ]:
for i in range(0, 100, 1):
    print('Octa Decimal: ', oct(i))

In [ ]:
for i in range(0, 100, 1):
    print('Hexa Decimal: ', hex(i))

# Help function - help()

In [ ]:
help()

In [ ]:
help(print)

In [ ]:
help(eval)

In [ ]:
help(iter)

In [73]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [ ]:
help(len)

In [ ]:
help(max)

In [ ]:
help(sort)

In [ ]:
help(sorted)

In [ ]:
help(list)

# iter()

In [78]:
lst1 = ['apple','banana','cherries','durian','grapes']

x = iter(lst1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
durian
grapes

In [79]:
tup1 = ('apple','banana','cherries','durian','grapes')

x = iter(tup1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
durian
grapes

In [80]:
set1 = {'apple','banana','cherries','durian','grapes'}

x = iter(set1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

banana
apple
grapes
durian
cherries

In [81]:
set2 = {'apple','banana','cherries','durian','grapes', 'apple','banana','cherries'}

x = iter(set2)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

StopIteration:

banana
apple
grapes
durian
cherries

In [ ]:
dict1 = {}

x = iter(dict1)

# length - len()

In [82]:
str1 = 'Welcome to python programming webinar'

len(str1)

37

# Some more functions

In [83]:
min(lst1)

'apple'

In [84]:
max(lst1)

'grapes'

In [85]:
flt1 = 3.49
round(flt1)

3

In [86]:
flt1 = 3.50
round(flt1)

4

In [87]:
flt1 = 3.51
round(flt1)

4

In [93]:
lst1 = [1, 1.49, 1.50, 1.35, 1.99, 1.77]

lst1.sort()
print(lst1)

[1, 1.35, 1.49, 1.5, 1.77, 1.99]

In [94]:
sorted(lst1)

[1, 1.35, 1.49, 1.5, 1.77, 1.99]

# find ascii value - ascii()

In [ ]:
for i in range(0, 100, 1):
    print('Ascii value: ', ascii(i))